.container {

  color: white;
  text-align: center;
  margin: 0px;
  position: relative;
  top: -150px;
 
}

.img {
  width: 80%;
}

.restName {
display: flex;
  justify-content: left;
  margin-left: 15%;
  position: relative;
  top: 200px;
  font-size: 5em;
  color: white;
    background-color: rgba(0, 0, 0, 0.432);
  max-width: fit-content;
}

ul {
  list-style-type: none;
  font-size: 1.5em;
  margin: 0;
  padding: 10px;
}

.restInfo {
    display: flex;
    justify-content: right;
    position: relative;
  bottom: 225px;
  color: white;
  background-color: rgba(0, 0, 0, 0.432);
  max-width: fit-content;
  margin-left: 72%;
}

.description {
  color: black;
  margin: 0 10%;
}

.buttons {
  display: flex;
  justify-content: left;
  margin: 0 10%;
  position: relative;
  top: -290px;
}

.extraDetails{
    position: relative;
    bottom: 450px;
}
