/* .button {
  font-size: 2.5em;
 font-family: inherit;
  margin-bottom: 40px;
  margin-left: 5px;
  text-align: center;
  display: inline-block;
  padding: 15px 90px;
  background-color: white;

}

.button:hover {
  cursor: pointer;
  background-color: rgb(79, 98, 148);
  color: white;
  transition: ease-in-out;
  transition-duration: 0.5s;
} */

.button
 {
  /* background: rgb(57, 58, 65); */
  background: #ec598f98;
  display: inline-block;
  color: white;
  text-transform: uppercase;
  border-color: rgba(255, 255, 255, 0.521);
 
  margin-left: 5px;
  padding: 25px 50px;
  width: 100%;
  font-size: 1.8em;
  font-weight: 100;
  letter-spacing: 10px;
 
}

.button {
  /* transition: 0.3s all;
  transform: translateY(3px); */
  
  opacity: 0.9;
}

.button:hover {
  background-color: transparent;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.buttons {
    font-size: 2em;
/* background-size: 100%;
    background: url(http://www.flags-and-anthems.com/media/flags/flagge-italien.gif) no-repeat; */
    color: white;
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.377);
}

.buttons:hover {
    background-color: rgb(57, 58, 65);
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

@media all and (max-width:30em){
 button{
  display:block;
  margin:0.2em auto;
}
}