.bgImage {
width: 100%;
display: block;
margin: 0 auto;

}
/* 
.button {
 
  font-size: 40em;
  color: transparent;
  background-color: transparent;
 border: transparent;
  position: absolute;
  top: 250px;
  left: 30%;
  cursor: pointer;
} */



/* .yemen {
    font-size: 2em;
background-size: 100%;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Flag_of_Yemen.svg/1280px-Flag_of_Yemen.svg.png) no-repeat;
} */

.buttons {
    display: flex;
    justify-content: space-around;
    margin: 0 20%;
    
}

.p {
    font-size: 1.5em;
}

.paragraph {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 1000px;
    color: white;
}