table {
border-collapse: collapse;
width: 80%;
background-color: white;
color: black;
margin-bottom: 20%;
/* padding: 50px; */
width: fit-content;
display: block;
margin: 0 auto;

}

.headings {
    /* display: flex;
    justify-content: space-around; */
     display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;

}

.rowData {
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
}

.tableHeading {
    font-size: 1.8em;


    
}

th{
    padding: 15px;
}

th, td {
text-align: left;

}

td {
    font-size: 1.3em;
    padding: 8px;
    padding-top: 15px;
}

/* .titles {
    display: flex;
    justify-content: space-between;

} */

/* .individualHeadings {
     display: inline-block;
     
    
} */


