
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300&display=swap');


body {
  
background: rgb(36,37,41);
background: linear-gradient(90deg, rgba(36,37,41,1) 19%, rgba(12,14,18,1) 48%);
    font-family: 'Quicksand', sans-serif;;
}